extends s_layout

block body

        form(method='post', action='')
            h1 Member Login
            if error
              .alert.alert-dismissable.alert-danger.login-fail
                button.close(type='button', data-dismiss='alert') &times;
                p.
                  #{error}
             br.
            
            p. Email Address
            input#username.form-control(name='username', type='email', placeholder='Email', autofocus)
            br
            p. Password
            input#password.form-control(name='password', type='password', placeholder='Password')
            br
            button#register.btn.btn-primary(type='submit') <strong>Login</strong>
            br
            p.
              Secure Server <img src="/images/padlock_small.png"></img>
            br
            p. Not a Member? <a href="/register">Click Here</register
