doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap-3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap-3.1.1/css/signin.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap-3.1.1/js/bootstrap.min.js')
  body
    block content