doctype html
html
head
	title= title
	link(rel='stylesheet', href='/bootstrap-3.1.1/css/bootstrap.min.css')
	link(rel='stylesheet', href='/bootstrap-3.1.1/css/dashboard.css')
	script(type='text/javascript', href='/bootstrap-3.1.1/js/boostrap.min.js')
	script(type='text/javascript', href='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	script(type='text/javascript', href='/bootstrap-3.1.1/js/docs.min.js')
body
	div(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
		div(class="container-fluid")
			button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
				span(span class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class="navbar-brand" href="#") Torque
			div(class="navbar-collapse collapse")
				ul(class="nav navbar-nav navbar-right")
					li
						a(href="#") Dashboard
					li
						a(href="#") Settings
					li
						a(href="#") Profile
					li
						a(href="#") Help

						
	div(class="container-fluid")
		div(class="row")
			div(class="col-sm-3 col-md-2 sidebar")
				ul(class="nav nav-sidebar")
					li
						a(href="#") Overview
					li
						a(href="#")	My Lessons
					li
						a(href="#") My Badges
					li
						a(href="#") My Classroom
						
				ul(class="nav nav-sidebar")
					li
						a(href="#") Search Lessons
					li
						a(href="#") Biology
					li
						a(href="#") Chemistry
					li
						a(href="#") Math
					li
						a(href="#") Computer Science
						
					